ul.nav.navbar-nav
  li.active
    a(href="/") 首页
  li.dropdown
    a.dropdown-toggle(href="#",data-toggle="dropdown") link2
      span.caret
    ul.dropdown-menu(role="menu")
      li
        a(href="#") dropdown1
      li.divider
      li
        a(href="#") dropdown2