include rcmd-item.jade
.container
  .row
    -for(var i in hotelInfo){
      -console.log(hotelInfo[i])
      +item(hotelInfo[i].hotel.main_image,hotelInfo[i].hotel.name,hotelInfo[i].hotel.brief_intro,hotelInfo[i]._id)
    -}
