//addInfo.jade
include ../head.jade

h1 酒店信息添加
.lead 恭喜您！您已成为我们的会员，您可以现在就添加您酒店的信息。
div
  form(role='form' method='post' action='/hotel/addHotelInfo')
    div.form-group
      label(for='hotelname') 酒店名
      input(type='text' name='hotelname').form-control#hotelname
    div.form-group
      label(for='telephone') 电话
      input(type='text' name='telephone').form-control#telephone
    div.form-group
      label(for='image') 图片
      input(type='file' name='image').form-control#image
    div.form-group
      label(for='city') 城市
      input(type='text' name='city').form-control#city
    div.form-group
      label(for='area') 区域
      input(type='text' name='area').form-control#area
    div.form-group
      label(for='address') 地址
      input(type='text' name='address').form-control#address
    div.form-group
      label(for='brief_intro') 一句话简介
      input(type='text' name='brief_intro').form-control#brief_intro
    div.form-group
      label(for='intro') 简介
      input(type='text' name='intro').form-control#intro

      label.label-warning#notice
    button(type='submit').btn.btn-default#submit_btn 提交