<div>
    <div class="row">
        <div class="col-md-1">
        <span id="icon"></span>
        </div>
        <div class="dg_user col-md-3">
            <p>
                <span id="username"></span>的个人中心
            </p>
        </div>
        <div class="dg_mem col-md-8">
        </div>
    </div>
    <div class="contain-fluid">
    <div class="row">
        <div class="dg_menu col-md-4">
            <a href="#MyOrder" class="list-group-item order_btn" id="order">
                我的订单
            </a>
            <a href="#MyProperty" class="list-group-item" id="prop">
                我的资产
            </a>
            <a href="#MyComment" class="list-group-item" id="comment">
                评价管理
            </a>
            <a href="#MyAccount" class="list-group-item" id="account">
                账户信息
            </a>
        </div>
        <div id="right-content" class="col-md-9"></div>
    </div>
    </div>
</div>