//item.html
//item.html
<tr>
  <td><%= orderNumber %></td>
  <td><%= roomSchema %></td>
  <td><%= userName %></td>
  <td><%= personName %></td>
  <td><%= telephone %></td>
  <td><%= arriveTime %></td>
  <td><span class="sr-only"><%= id %></span><% switch(status){
  	case 1:
  		print("等待确认</td>");
  		print('<td><button class="btn btn-primary btn-xs" value="confirm">确认</button><button class="btn btn-danger btn-xs" value="reject">拒绝</button></td>');
  		break;
    case 2:
  		print("已确认</td>");
  		print('<td><button class="btn btn-primary btn-xs" value="arrived">已到店</button><button class="btn btn-primary btn-xs" value="notArrived">未到店</button></td>');
  		break;
  	case 3:
  		print("已拒绝</td>");
  		print('<td><button class="btn btn-primary btn-xs" value="delete">删除订单</button></td>');
  	  break;
  	case 4:
  		print("已取消</td>");
  		print('<td><button class="btn btn-primary btn-xs" value="delete">删除订单</button></td>');
  		break;
   	case 5:
  		print("已支付</td>");
  		print('<td><button class="btn btn-primary btn-xs" value="cancelAndReturn">拒绝</button><button class="btn btn-primary btn-xs" value="confirm">确认</button></td>');
  		break;
   	case 6:
  		print("已支付并确认</td>");
  		print('<td><button class="btn btn-primary btn-xs" value="arrived">已到店</button><button class="btn btn-primary btn-xs" value="notArrived">未到店</button></td>');
  		break;
   	case 7:
  		print("已退款</td>");
  		print('<td><button class="btn btn-primary btn-xs" value="delete">删除订单</button></td>');
  		break;
    case 8:
  		print("申请退款中</td>");
      print('<td><button class="btn btn-primary btn-xs" value="agree">同意退款</button><button class="btn btn-primary btn-xs" value="disagree">不同意</button></td>');
  		break;
  	case 9:
  		print("已拒绝退款</td>");
  		print('<td><button class="btn btn-primary btn-xs" value="arrived">已到店</button><button class="btn btn-primary btn-xs" value="notArrived">未到店</button></td>');
  		break;
    case 10:
      print("已入住</td>");
      print('<td><button class="btn btn-primary btn-xs" value="depart">已离店</button></td>');
      break;
    case 11:
      print("已离店</td>");
      print('<td><button class="btn btn-primary btn-xs" value="delete">删除订单</button></td>');
      break;
    case 12:
      print("未到店</td>");
      print('<td><button class="btn btn-primary btn-xs" value="delete">删除订单</button></td>')
      break;
    case 13:
      print("已离店，已评价</td>");
      print('<td><button class="btn btn-primary btn-xs" value="delete">删除订单</button></td>')
      break;
    default:
    	print("未知</td><td></td>")
  }

   %>
</tr>